{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Links font Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- Icons FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Link css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <!-- Links extras -->
    {% block links_extras %} {% endblock %}
  </head>

  <body>
    {% block header %}
    <header>
      <nav class="NavBar">
        {% block logo %}
        <div class="logomarca">
          <a href="{% url 'home' %}"><h1>LOGOMARCA</h1></a>
        </div>
        {% endblock %}
        <div class="bar_pesquisa">
          <form method="GET" action="{% url 'search' %}">
            <input
              type="text"
              name="q"
              placeholder="Pesquisar..."
              value="{{ request.GET.q }}"
              list="titulos"
              required
            /><button type="submit"><i class="fas fa-search"></i></button>
            <datalist id="titulos">
              {% if produtos and produtos|length %}
                  {% for produto in produtos %}
                      <option value="{{ produto.titulo }}"></option>
                  {% endfor %}
              {% else %}
                  <option value="{{ produtos.titulo }}"></option>
              {% endif %}
          </datalist>
          </form>
        </div>
        <div class="content-menu-topo">
          <button class="menu-toggle"><i class="fas fa-bars"></i></button>
          <ul class="menu-topo">
              <li>
                  <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="list-menu">
                  <a href="#"><i class="fas fa-laptop"></i> Notebooks</a>
                  <ul class="sub-menu-list">
                    {% for marca in marca_notebook %}
                    <a href="{% url 'search' %}?marca={{ marca }}"><li>{{ marca }}</li></a>
                    {% endfor %}
                  </ul>
              </li>
              <li class="list-menu">
                  <a href="#"><i class="fas fa-shopping-cart"></i> Outros produtos</a>
                  <ul class="sub-menu-list">
                    {% for categoria in categorias_produtos %}
                    <a href="{% url 'search' %}?categoria={{ categoria }}"><li>{{ categoria }}</li></a>
                  {% endfor %}
                  </ul>
              </li>      
                {% if request.user.is_authenticated %}
                <li class="content-pefil-link">
                    {% if not request.user.perfilusuario.foto_perfil %}
                        <a href="{% url 'perfil' request.user.pk %}"><i class="far fa-user user-perfil" title="Ver perfil"></i></a>
                    {% else %}
                        <a href="{% url 'perfil' request.user.pk %}">
                            <img src="{{ request.user.perfilusuario.foto_perfil.url }}" class="img-perfil" alt="Foto de Perfil" title="Ver perfil">
                        </a>
                        <a href="{% url 'perfil' request.user.pk %}" class="perfil-mobile-list"><i class="fas fa-user"></i><p>Meu Perfil</p></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'signin' %}" class="logar">Logar</a>
                  </li>
                {% endif %}
          </ul>
      </div>
      </nav>
      <div class="bar_pesquisa_mobile">
        <form method="GET" action="{% url 'search' %}" class="form_search">
          <input
            type="text"
            name="q"
            placeholder="Pesquisar..."
            value="{{ request.GET.q }}"
            list="titulos"
            required
          /><button type="submit"><i class="fas fa-search"></i></button>
          <datalist id="titulos">
            {% if produtos and produtos|length %}
                {% for produto in produtos %}
                    <option value="{{ produto.titulo }}"></option>
                {% endfor %}
            {% else %}
                <option value="{{ produtos.titulo }}"></option>
            {% endif %}
        </datalist>
        </form>
      </div>
    </header>
    {% endblock %}

    <div class="conteiner_main">{% block container_page %} {% endblock %}</div>

    {% block footer %}
    <footer class="rodape">
      <ul class="contact_social">
        <li class="items_social"><i class="fab fa-facebook"></i></li>
        <li class="items_social"><i class="fab fa-instagram"></i></li>
        <li class="items_social"><i class="fab fa-whatsapp"></i></li>
      </ul>
      <p>&copy; Todos os direitos reservados para Wemerson 2023</p>
    </footer>
    {% endblock %}
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/menu_toggle.js' %}"></script>
  {% block script %} {% endblock %}
</html>
