{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock %}
{% block links_extras %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/poster.css' %}" />
{% endblock %} {% block container_page %}
<div class="titulo-section">
  <h1>Lorem ipsum dolor</h1>
</div>
<div class="container-poster">
  {% for produto in produtos %}
  <div class="poster">
    <div class="content-icon-favoritar">
      {% if produto.id in favoritos_do_usuario %}
        <button class="button-favoritar" onclick="toggleFavorite({{ produto.id }})">
          <i class="fas fa-heart" style="color: red;"></i>
        </button>
      {% else %}
        <button class="button-favoritar" onclick="toggleFavorite({{ produto.id }})">
          <i class="fas fa-heart"></i>
        </button>
      {% endif %}
    </div>
    <img src="{{ produto.imagem.url }}" alt="Imagem do Produto" />
    <div class="info-produto">
      <div class="content-titulo">
        <p class="titulo">{{ produto.titulo }}</p>
      </div>
      <p class="preco">R$ {{ produto.preco }}</p>
      <p>Quantidade Disponível: {{ produto.quantidade }}</p>
    </div>
    <div class="content-button-ver-detalhes">
      <a href="{% url 'detalhe-produto' produto.pk %}" class="button-ver-detalhes"
        ><i class="fas fa-search"></i> Ver Detalhes</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block script %}
<script src="{% static 'js/favoritar-icon-color.js' %}"></script>
<script>
  function toggleFavorite(produtoId) {
  $.ajax({
    url: '/user/favoritar/' + produtoId + '/',
    type: 'POST',
    data: {
      'produto_id': produtoId,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    success: function(response) {
      var button = $('[onclick="toggleFavorite(' + produtoId + ')"]');
      var heartIcon = button.find('.fa-heart');
      
      if (response.status === 'added') {
        // Adiciona a classe 'favorite' ao botão
        button.addClass('favorite');
        heartIcon.css('color', 'red'); // Altera a cor do ícone para vermelho
        alert('Produto adicionado aos favoritos!');
      } else if (response.status === 'removed') {
        // Remove a classe 'favorite' do botão
        button.removeClass('favorite');
        heartIcon.css('color', '#ccc'); // Altera a cor do ícone para a cor padrão
        alert('Produto removido dos favoritos!');
      }
    },
    error: function(xhr, status, error) {
      if (xhr.status == 403) {
        // 403 indica que a solicitação falhou devido à falta de autenticação
        var confirmLogin = confirm('Você precisa estar logado para favoritar o produto. Clique em OK para ir para a página de login.');

        if (confirmLogin) {
          window.location.href = '/user/signin/';
        }
      } else {
        // Outro erro que não seja 403
        alert('Ocorreu um erro ao tentar favoritar o produto.');
      }
    }
  });
}

</script>
{% endblock %}
  
