{% extends 'base.html' %} 
{% load static %} 
{% block title %}Favoritos{% endblock %}
{% block links_extras %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/poster.css' %}" />
{% endblock %} {% block container_page %}

{% if lista_favoritos %}
<div class="titulo-section">
    <h1>Meus Favoritos</h1>
  </div>
  <div class="container-poster">
    {% for favorito in lista_favoritos %}
    <div class="poster">
      <div class="content-icon-favoritar">
        {% if favorito.produto.id in favoritos_do_usuario %}
          <button class="button-favoritar" onclick="toggleFavorite({{ favorito.produto.id }})">
            <i class="fas fa-heart" style="color: red;"></i>
          </button>
        {% else %}
          <button class="button-favoritar" onclick="toggleFavorite({{ favorito.produto.id }})">
            <i class="fas fa-heart"></i>
          </button>
        {% endif %}
      </div>
      <img src="{{ favorito.produto.imagem.url }}" alt="Imagem do Produto" />
      <div class="info-produto">
        <div class="content-titulo">
          <p class="titulo">{{ favorito.produto.titulo }}</p>
        </div>
        <p class="preco">R$ {{ favorito.produto.preco }}</p>
        <p>Quantidade Disponível: {{ favorito.produto.quantidade }}</p>
      </div>
      <div class="content-button-ver-detalhes">
        <a href="{% url 'detalhe-produto' favorito.produto.pk %}" class="button-ver-detalhes"
          ><i class="fas fa-search"></i> Ver Detalhes</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
{% else %}
<div class="titulo-section">
    <h1 style="text-align: center;">Sem Favoritos</h1>
  </div>
{% endif %} 


{% endblock %}


{% block script %}
<script src="{% static 'js/favoritar-icon-color.js' %}"></script>
<script>
function toggleFavorite(produtoId) {
  $.ajax({
    url: '/user/favoritar/' + produtoId + '/',
    type: 'POST',
    data: {
      'produto_id': produtoId,
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    success: function(response) {
      var button = $('[onclick="toggleFavorite(' + produtoId + ')"]');
      var heartIcon = button.find('.fa-heart');
      
      if (response.status === 'ok') {
        heartIcon.css('color', 'red'); // Produto favoritado, ícone fica vermelho
        alert('Produto adicionado aos favoritos!');
      } else if (response.status === 'removed') {
        heartIcon.css('color', '#ccc'); // Produto removido dos favoritos, ícone volta à cor padrão
        alert('Produto removido dos favoritos!');
      } else if (response.status === 'error') {
        // Usuário não autenticado, redireciona para a página de login
        var confirmLogin = confirm('Você precisa estar logado para favoritar o produto. Clique em OK para ir para a página de login.');

        if (confirmLogin) {
          window.location.href = response.login_url;
        }
      } else {
        alert('Ocorreu um erro ao tentar favoritar o produto.');
      }
    },
    error: function(xhr, status, error) {
      if (xhr.status == 403) {
        var confirmLogin = confirm('Você precisa estar logado para favoritar o produto. Clique em OK para ir para a página de login.');

        if (confirmLogin) {
          window.location.href = '/user/signin/';
        }
      } else {
        alert('Ocorreu um erro ao tentar favoritar o produto.');
      }
    }
  });
}

</script>
{% endblock %}
  
