{% extends 'base.html' %} 
{% load static %} 
{% block title %}Perfil{% endblock %} 
{% block links_extras %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}" />
{% endblock %} 
{% block container_page %}
<div class="content-perfil">
  <div class="perfil">
    <div class="content-icon-edit">
        <a href="{% url 'editar-perfil' perfil.pk %}"> 
            <i class="fas fa-edit" title="Editar perfil"></i>
        </a>
    </div>
    <div class="content-img-username">
        {% if perfil.foto_perfil %}
        <img src="{{ perfil.foto_perfil.url }}" alt="" />
        <p style="text-transform: capitalize;font-weight: bold;">{{ perfil.usuario }}</p>
        {% else %}
        <img src="/media/perfil/default_photo.webp" class="img-perfil" alt="">
        {% endif %}
    </div>
    <div class="content-info-perfil">
      <div class="info-perfil">
        <i class="fas fa-user"></i>
        <p style="text-transform: capitalize;">Nome: {{ perfil.nome }}</p>
      </div>
      <div class="info-perfil">
        <i class="fas fa-calendar"></i>
        <p>Data nascimento: {{ perfil.data_nascimento }}</p>
      </div>
      <div class="info-perfil">
        <i class="fas fa-heart"></i>
        <a href="{% url 'list-favorito-produto' %}">Favoritos</a>
      </div>
      <div class="info-perfil"></div>
    </div>
    <div class="content-form-logout">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
